{% extends 'store/parts/base.html' %}
{% load static %}

{% block content %}

<section class="page-section h-100 p-10" id="contact">
    <div class="container d-flex justify-content-center">
        <div class="col-lg-8 text-center ">
            <h1 class="p-3">Connexion</h1>
            <hr class="divider p-2" />
            {% if form.errors %}
            <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <input class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit" value="login" id="id_login"/>
                <hr class="divider my-4"/>
                <p><a href="{% url 'register' %}">Créer un compte</a></p>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</section>
{% endblock content %}
