{% extends 'store/parts/base.html' %}
{% load static %}

{% block content %}

<section class="page-section h-100 p-10" id="contact">
    <div class="container text-center">
        <h1 class="text-center"> Création d'un nouvel utilisateur </h1>
        <hr class="divider my-4"/>
        <form method="post" class="ul-none">
            {% csrf_token %}
            {% for field in form %}
                <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <br><small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% if field.Password %}{% endif %}
                </p>
            {% endfor %}
            <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit" id="id_sign_up">Sign up</button>
        </form>
    </div>
</section>
<hr class="divider my-2"/>
<p class='text-grey-75 font-weight-light mb-5 text-center'>Déjà un compte ? <br>
<a href="{% url 'login' %}">Se connecter</a></p>
{% endblock content %}
