{% extends 'store/parts/base.html' %}
{% load static %}

{% block content %}
<section class="page-section h-100 p-10" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Contactez-nous!</h2>
                <hr class="divider my-4" />
                <p class='mb-5'>
                    Pour toute question ou informations vous pouvez nous contacter
                    avec les informations ci-dessous
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+33 (6) 12 13 14 15</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="mailto:contact@pur_beurre.com">contact@pur_beurre.com</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}