{% extends 'store/parts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-10 mb-0">
    <header class='row header-image align-items-center justify-content-center aligner' style='background-image: url("{{ alim.image_url }}");'>
        <div class="col-12">
            <h1 class="text-white font-weight-bold">{{ alim.name }}</h1>
        </div>
    <header>
</div>
    <section class="page-section bg-primary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 text-center">
                    <img class='w-75 w-sm-100' src="{% static 'store/assets/img/nutriscores/' %}{{ alim.nutriscore }}.png " alt='c_logo' />
                </div>
                <div class="col-md-8 offset-md-1">
                    <div class="card mt-5 mt-md-0">
                        <h3 class="text-center mx-3 my-3">Repères nutritionnels</h3>
                        <div class="px-4">
                            <div class="table-wrapper">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th class="th-lg align-top">Note</th>
                                            <th class="th-lg align-top">Sucres</th>
                                            <th class="th-lg align-top">Graisses</th>
                                            <th class="th-lg align-top">Sel</th>
                                            <th class="th-lg align-top">Energie</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            {% if alim.average > 4 %}
                                                <td class='good'>
                                            {% elif alim.average > 2.5 and alim.average < 4 %}
                                                <td class='average'>
                                            {% else %}
                                                <td class='bad'>
                                            {% endif %}
                                                <i class="fas fa-circle pr-1"></i>{{ alim.average }} / 5
                                                </td>

                                            {% if nutrim.sugar < 5 %}
                                                <td class='good'>
                                            {% elif nutrim.sugar < 12.5 %}
                                                <td class='average'>
                                            {% else %}
                                                <td class='bad'>
                                            {% endif %}
                                                <i class="fas fa-circle pr-1"></i>{{alim.sugar}}g
                                                </td>

                                            {% if nutrim.fat < 3 %}
                                                <td class='good'>
                                            {% elif nutrim.fat < 20 %}
                                                <td class='average'>
                                            {% else %}
                                                <td class='bad'>
                                            {% endif %}
                                                <i class="fas fa-circle pr-1"></i>{{alim.fat}} g
                                                </td>
                                            
                                            {% if nutrim.salt < 0.3 %}
                                                <td class='good'>
                                            {% elif nutrim.salt < 1.5 %}
                                                <td class='average'>
                                            {% else %}
                                                <td class='bad'>
                                            {% endif %}
                                                <i class="fas fa-circle pr-1"></i>{{alim.salt}} g
                                                </td>  

                                            <td>{{ alim.energy }} Kcal</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <row>
            <div class='text-center mt-3 col-md-3 mx-auto'>
                <div class="input-group mb-3">
                    <form action="{% url 'notation' %}" method="POST">
                        {% csrf_token %}
                        <select class="custom-select" name="notation_drop">
                            <option selected>Séléctionner une note :</option>
                            <option value="1 | {{ alim.name}}">1</option>
                            <option value="2 | {{ alim.name}}">2</option>
                            <option value="3 | {{ alim.name}}">3</option>
                            <option value="4 | {{ alim.name}}">4</option>
                            <option value="5 | {{ alim.name}}">5</option>
                        </select>
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-warning btn-rounded btn-sm" type="submit" name="notation">Envoyer <i class="fas fa-star"></i></button>
                    </div>
                    </form>
                </div>

                <a class="btn btn-outline-warning btn-rounded btn-sm" href={{ alim.product_url }} target='_blank'>
                    <i class="fa fa-floppy-o p-2"aria-hidden="true"></i>
                    Voir la fiche d'openFoodFact
                </a>
            </div>
        </row>
    </section>
{% endblock %}