{% extends 'store/parts/base.html' %}
{% load static %}

<row>
    {% block content %}
    <section class="bg-primary pt-5" id="about">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1 class="text-grey py-5 mt-5">Credits</h1>
                </div>
                <div class="col-lg-8 text-center">
                    <ul class='list-group list-group-horizontal justify-content-center mb-3'>
                        <li class='list-group-item'><i class="fab fa-font-awesome-flag mr-2"></i><a
                                href='https://fontawesome.com/' target='_blank'>Icones</a></li>
                        <li class='list-group-item'><i class="fas fa-utensils mr-2"></i><a
                                href='https://fr.openfoodfacts.org/' target='_blank'>Aliments et images</a></li>
                        <li class='list-group-item'><i class="fas fa-file-code mr-2"></i><a
                                href='https://startbootstrap.com/theme/creative' target='_blank'>Template</a></li>
                    </ul>
                    <p class="font-italic my-auto text-center mb-4">
                    Creation et développement
                    <br>
                    Maewen Pelletier
                    <br class='mb-4'>
                    <a href='https://www.linkedin.com/in/maewen-pelletier/' target='_blank'><i class="fab fa-linkedin-in mb-5 fa-2x"></i></a>
                    <a href='https://github.com/MaewenPell/' target='_blank'><i class="ml-3 fab fa-github fa-2x"></i></a>
                    
                    </p>
                <img class="align-baseline img-fluid w-25" alt="img_remy" src="{% static 'store/assets/img/thanks.png' %}"/>
                </div>
    </section>
    {% endblock content %}
    <row>