{% extends 'store/parts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-10 mb-0">
    <header class=' row header-image align-items-center justify-content-center aligner'>
        <div class="col-12 flex-column justify-content-center">
            <h1 class="text-white font-weight-bold">Mes aliments</h1>
            {% if len > 0 %}
                <p class="mt-3 lead text-white">Voici vos aliments sauvegardés</p>
            {% endif %}
        </div>
    <header>
</div>


<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                                <p><i class="fa fa-check-square p-2" aria-hidden="true"></i>{{ message }}</p>
                            </div>
                        {% elif message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                <p><i class="fa fa-exclamation-triangle p-2" aria-hidden="true"></i>{{ message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if len == 0 %}
                    <h2 class="text-grey mt-0">Vous n'avez aucun aliment sauvegardé</h2>
                {% endif %}


                <div class="row row-cols-2 row-cols-md-3" id="portfolio">
                        {% block card %}
                            {% if len > 0 %}
                                {% for current_alim in page_obj %}
                                    <div class="col mb-4">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="{{ current_alim.aliment.image_url }}"
                                                alt="Card image cap" style="object-fit : contain;">
                                            <span
                                                class="badge notify-badge nutriscore-{{ current_alim.aliment.nutriscore}}">{{ current_alim.aliment.nutriscore }}</span>
                                            <div class="card-body">
                                                <a href="{% url 'detail' current_alim.aliment.id %}" target="_blank"
                                                    rel="noopener noreferrer">
                                                    <h4 class="lead">{{ current_alim.aliment.name }}</h4>
                                                </a>
                                                <form action="{% url 'remove_alim' %}" method="POST">
                                                    {% csrf_token %}
                                                    <button class="btn btn-outline-warning btn-rounded btn-sm my-0 custom d-flex align-items-center"
                                                        name="remove_alim" type="submit" value="{{ current_alim.aliment.id }}">
                                                        <i class="fas fa-trash-alt mr-2" aria-hidden="true"></i>
                                                        Retirer
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                </div>

                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                            </li>
                            <li class="page-item">
                                <a class='page-link' href="?page=1">&laquo; first</a>
                            </li>
                        {% endif %}

                        <li class="page-item disabled">
                            <span class="page-link">
                                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
                            </span>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Dernière &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

{% endblock content %}