{% extends 'store/parts/base.html' %}
{% load static %}

<row>
    {% block content %}
    <section class="bg-primary pt-5" id="about">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-grey mt-0 pb-3">Credits</h2>
                </div>
                <div class="col-lg-8 text-center">
                    <ul class='list-group'>
                        <li class='list-group-item'><i class="fab fa-font-awesome-flag mr-2"></i><a
                                href='https://fontawesome.com/'>Icones</a></li>
                        <li class='list-group-item'><i class="fas fa-utensils mr-2"></i><a
                                href='https://fr.openfoodfacts.org/'>Aliments et images</a></li>
                        <li class='list-group-item'><i class="fas fa-file-code mr-2"></i><a
                                href='https://startbootstrap.com/theme/creative'>Template</a></li>
                    </ul>
                    <hr class="divider my-4 p-3" />
                    <p class="font-italic my-auto text-center mb-4">
                    Creation et développement
                    <br>
                    Maewen Pelletier
                    <br class='mb-4'>
                    <a href='https://www.linkedin.com/in/maewen-pelletier/'><i class="fab fa-linkedin-in mb-5"></i></a>
                    <a href='https://github.com/MaewenPell/'><i class="ml-3 fab fa-github"></i></a>
                    
                    </p>
                </div>
    </section>
    {% endblock content %}
    <row>