{% extends 'store/parts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-10 mb-0">
    <header class=' row header-image align-items-center justify-content-center aligner'>
        <div class="col-12">
            <h1 class="text-white font-weight-bold">Mes aliments</h1>
        </div>
        <header>
</div>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-grey mt-0">Voici vos aliments sauvegardés</h2>
                <div class="card-deck col-12">
                    <div id="portfolio">
                        <hr class="divider my-4" />
                        {% block card %}
                        <div class='row'>
                            {% for current_alim in alims %}
                            <div class="card mb-4">
                                <img class="card-img-top" src="{{ current_alim.aliment.image_url }}" alt="Card image cap">
                                <span
                                    class="badge notify-badge nutriscore-{{ current_alim.aliment.nutriscore}}">{{ current_alim.aliment.nutriscore }}</span>
                                <div class="card-body">
                                    <a href="{% url 'detail' current_alim.id %}" target="_blank"
                                        rel="noopener noreferrer">
                                        <h4 class="card-title">{{ current_alim.aliment.name }}</h4>
                                    </a>
                                    <form action="{% url 'remove_alim' %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-warning btn-rounded btn-sm my-0 custom"
                                            name="remove_alim" type="submit"
                                            value="{{ current_alim.aliment.id }}">
                                            <i class="fas fa-trash-alt fa-2x" aria-hidden="true"></i>Retirer
                                        </button>
                                </div>
                            </div>
                            {% if forloop.counter == 3 %}
                        </div>
                        <div class='row'>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endblock card %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}