{% extends 'store/parts/base.html' %}
{% load static %}

{% block content %}
    <!-- Masthead-->
    <div class="container-fluid p-10 mb-0">
        <header class=' row header-image align-items-center justify-content-center aligner'>
            <div class="col-12">
                <h1 class="text-white font-weight-bold">Bonjour XXXXXXXX</h1>
            </div>
        <header>
    </div>  
    <section class="page-section bg-primary">
        <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Email</h2>
                    <hr class="divider my-3" />
                    <h4 class='mb-3'>
                        test@example.com
                    </h4>
                </div>
            </div>
    </section>
{% endblock %}