{% extends 'store/parts/base.html' %}
{% load static %}

{% block content %}

<section class="page-section h-100 p-10" id="contact">
    <div class="container d-flex justify-content-center">
        <div class="col-lg-8 text-center ">
            <h1 class="p-3">Erreur 404 !</h1>
            <hr class="divider p-2" />
            <p> Nous n'avons pas trouvé la page demandée !</p>
            <p> Pour nous faire patienter voila la recette des petits beurres </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/JZachNaVay0?html5=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
